--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO crmuser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO crmuser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO crmuser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clients_client; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.clients_client (
    id bigint NOT NULL,
    first_name character varying(20) NOT NULL,
    last_name character varying(20) NOT NULL,
    age integer,
    email character varying(254),
    phone_number character varying(15),
    converted_date timestamp with time zone NOT NULL,
    client_number character varying(20) NOT NULL,
    status character varying(20) NOT NULL
);


ALTER TABLE public.clients_client OWNER TO crmuser;

--
-- Name: clients_client_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.clients_client ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clients_client_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: clients_contact; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.clients_contact (
    id bigint NOT NULL,
    reason character varying(20) NOT NULL,
    description text,
    contact_date timestamp with time zone NOT NULL,
    client_id bigint NOT NULL,
    user_id bigint
);


ALTER TABLE public.clients_contact OWNER TO crmuser;

--
-- Name: clients_contact_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.clients_contact ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.clients_contact_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO crmuser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO crmuser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO crmuser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO crmuser;

--
-- Name: leads_agent; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.leads_agent (
    id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.leads_agent OWNER TO crmuser;

--
-- Name: leads_agent_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.leads_agent ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.leads_agent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: leads_category; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.leads_category (
    id bigint NOT NULL,
    name character varying(30) NOT NULL
);


ALTER TABLE public.leads_category OWNER TO crmuser;

--
-- Name: leads_category_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.leads_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.leads_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: leads_lead; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.leads_lead (
    id bigint NOT NULL,
    first_name character varying(20) NOT NULL,
    last_name character varying(20) NOT NULL,
    age integer,
    email character varying(254) NOT NULL,
    phone_number character varying(15) NOT NULL,
    is_converted boolean NOT NULL,
    date_created timestamp with time zone NOT NULL,
    agent_id bigint,
    category_id bigint,
    conversion_date timestamp with time zone,
    comment text,
    convert boolean NOT NULL
);


ALTER TABLE public.leads_lead OWNER TO crmuser;

--
-- Name: leads_lead_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.leads_lead ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.leads_lead_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: leads_user; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.leads_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    is_organisor boolean NOT NULL,
    is_agent boolean NOT NULL
);


ALTER TABLE public.leads_user OWNER TO crmuser;

--
-- Name: leads_user_groups; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.leads_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.leads_user_groups OWNER TO crmuser;

--
-- Name: leads_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.leads_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.leads_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: leads_user_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.leads_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.leads_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: leads_user_user_permissions; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.leads_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.leads_user_user_permissions OWNER TO crmuser;

--
-- Name: leads_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.leads_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.leads_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: leads_userprofile; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.leads_userprofile (
    id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.leads_userprofile OWNER TO crmuser;

--
-- Name: leads_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.leads_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.leads_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_order; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.orders_order (
    id bigint NOT NULL,
    date_created timestamp with time zone NOT NULL,
    offer_token character varying(255),
    status character varying(20) NOT NULL,
    agent_id bigint,
    client_id bigint NOT NULL,
    discount numeric(5,2) NOT NULL,
    status_history jsonb NOT NULL
);


ALTER TABLE public.orders_order OWNER TO crmuser;

--
-- Name: orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.orders_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_orderproduct; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.orders_orderproduct (
    id bigint NOT NULL,
    product_name character varying(100) NOT NULL,
    product_price numeric(10,2) NOT NULL,
    quantity integer NOT NULL,
    order_id bigint NOT NULL,
    product_id bigint,
    CONSTRAINT orders_orderproduct_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.orders_orderproduct OWNER TO crmuser;

--
-- Name: orders_orderproduct_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.orders_orderproduct ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_orderproduct_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_pricehistory; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.products_pricehistory (
    id bigint NOT NULL,
    old_price numeric(10,2) NOT NULL,
    new_price numeric(10,2) NOT NULL,
    changed_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.products_pricehistory OWNER TO crmuser;

--
-- Name: products_pricehistory_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.products_pricehistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_pricehistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_product; Type: TABLE; Schema: public; Owner: crmuser
--

CREATE TABLE public.products_product (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    price numeric(10,2) NOT NULL,
    stock_quantity integer NOT NULL,
    CONSTRAINT products_product_stock_quantity_check CHECK ((stock_quantity >= 0))
);


ALTER TABLE public.products_product OWNER TO crmuser;

--
-- Name: products_product_id_seq; Type: SEQUENCE; Schema: public; Owner: crmuser
--

ALTER TABLE public.products_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: clients_client clients_client_client_number_key; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.clients_client
    ADD CONSTRAINT clients_client_client_number_key UNIQUE (client_number);


--
-- Name: clients_client clients_client_email_key; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.clients_client
    ADD CONSTRAINT clients_client_email_key UNIQUE (email);


--
-- Name: clients_client clients_client_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.clients_client
    ADD CONSTRAINT clients_client_pkey PRIMARY KEY (id);


--
-- Name: clients_contact clients_contact_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.clients_contact
    ADD CONSTRAINT clients_contact_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: leads_agent leads_agent_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_agent
    ADD CONSTRAINT leads_agent_pkey PRIMARY KEY (id);


--
-- Name: leads_agent leads_agent_user_id_key; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_agent
    ADD CONSTRAINT leads_agent_user_id_key UNIQUE (user_id);


--
-- Name: leads_category leads_category_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_category
    ADD CONSTRAINT leads_category_pkey PRIMARY KEY (id);


--
-- Name: leads_lead leads_lead_email_key; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_lead
    ADD CONSTRAINT leads_lead_email_key UNIQUE (email);


--
-- Name: leads_lead leads_lead_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_lead
    ADD CONSTRAINT leads_lead_pkey PRIMARY KEY (id);


--
-- Name: leads_user_groups leads_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_user_groups
    ADD CONSTRAINT leads_user_groups_pkey PRIMARY KEY (id);


--
-- Name: leads_user_groups leads_user_groups_user_id_group_id_88d9b26c_uniq; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_user_groups
    ADD CONSTRAINT leads_user_groups_user_id_group_id_88d9b26c_uniq UNIQUE (user_id, group_id);


--
-- Name: leads_user leads_user_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_user
    ADD CONSTRAINT leads_user_pkey PRIMARY KEY (id);


--
-- Name: leads_user_user_permissions leads_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_user_user_permissions
    ADD CONSTRAINT leads_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: leads_user_user_permissions leads_user_user_permissions_user_id_permission_id_5b6424e2_uniq; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_user_user_permissions
    ADD CONSTRAINT leads_user_user_permissions_user_id_permission_id_5b6424e2_uniq UNIQUE (user_id, permission_id);


--
-- Name: leads_user leads_user_username_key; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_user
    ADD CONSTRAINT leads_user_username_key UNIQUE (username);


--
-- Name: leads_userprofile leads_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_userprofile
    ADD CONSTRAINT leads_userprofile_pkey PRIMARY KEY (id);


--
-- Name: leads_userprofile leads_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_userprofile
    ADD CONSTRAINT leads_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: orders_order orders_order_offer_token_key; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_offer_token_key UNIQUE (offer_token);


--
-- Name: orders_order orders_order_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_pkey PRIMARY KEY (id);


--
-- Name: orders_orderproduct orders_orderproduct_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.orders_orderproduct
    ADD CONSTRAINT orders_orderproduct_pkey PRIMARY KEY (id);


--
-- Name: products_pricehistory products_pricehistory_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.products_pricehistory
    ADD CONSTRAINT products_pricehistory_pkey PRIMARY KEY (id);


--
-- Name: products_product products_product_pkey; Type: CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: clients_client_client_number_d50f2ed2_like; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX clients_client_client_number_d50f2ed2_like ON public.clients_client USING btree (client_number varchar_pattern_ops);


--
-- Name: clients_client_email_29ccf6eb_like; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX clients_client_email_29ccf6eb_like ON public.clients_client USING btree (email varchar_pattern_ops);


--
-- Name: clients_contact_client_id_77862ce8; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX clients_contact_client_id_77862ce8 ON public.clients_contact USING btree (client_id);


--
-- Name: clients_contact_user_id_14b6a717; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX clients_contact_user_id_14b6a717 ON public.clients_contact USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: leads_lead_agent_id_fb1042af; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX leads_lead_agent_id_fb1042af ON public.leads_lead USING btree (agent_id);


--
-- Name: leads_lead_category_id_eb5283fa; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX leads_lead_category_id_eb5283fa ON public.leads_lead USING btree (category_id);


--
-- Name: leads_lead_email_93d5b817_like; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX leads_lead_email_93d5b817_like ON public.leads_lead USING btree (email varchar_pattern_ops);


--
-- Name: leads_user_groups_group_id_17e877ad; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX leads_user_groups_group_id_17e877ad ON public.leads_user_groups USING btree (group_id);


--
-- Name: leads_user_groups_user_id_6890bdd8; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX leads_user_groups_user_id_6890bdd8 ON public.leads_user_groups USING btree (user_id);


--
-- Name: leads_user_user_permissions_permission_id_88335dba; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX leads_user_user_permissions_permission_id_88335dba ON public.leads_user_user_permissions USING btree (permission_id);


--
-- Name: leads_user_user_permissions_user_id_2a9cf662; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX leads_user_user_permissions_user_id_2a9cf662 ON public.leads_user_user_permissions USING btree (user_id);


--
-- Name: leads_user_username_e6a0880d_like; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX leads_user_username_e6a0880d_like ON public.leads_user USING btree (username varchar_pattern_ops);


--
-- Name: orders_order_agent_id_14de1c81; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX orders_order_agent_id_14de1c81 ON public.orders_order USING btree (agent_id);


--
-- Name: orders_order_client_id_67117a15; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX orders_order_client_id_67117a15 ON public.orders_order USING btree (client_id);


--
-- Name: orders_order_offer_token_017e206d_like; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX orders_order_offer_token_017e206d_like ON public.orders_order USING btree (offer_token varchar_pattern_ops);


--
-- Name: orders_orderproduct_order_id_5022a3e2; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX orders_orderproduct_order_id_5022a3e2 ON public.orders_orderproduct USING btree (order_id);


--
-- Name: orders_orderproduct_product_id_4d6ac024; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX orders_orderproduct_product_id_4d6ac024 ON public.orders_orderproduct USING btree (product_id);


--
-- Name: products_pricehistory_product_id_1fc0e3fe; Type: INDEX; Schema: public; Owner: crmuser
--

CREATE INDEX products_pricehistory_product_id_1fc0e3fe ON public.products_pricehistory USING btree (product_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clients_contact clients_contact_client_id_77862ce8_fk_clients_client_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.clients_contact
    ADD CONSTRAINT clients_contact_client_id_77862ce8_fk_clients_client_id FOREIGN KEY (client_id) REFERENCES public.clients_client(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: clients_contact clients_contact_user_id_14b6a717_fk_leads_userprofile_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.clients_contact
    ADD CONSTRAINT clients_contact_user_id_14b6a717_fk_leads_userprofile_id FOREIGN KEY (user_id) REFERENCES public.leads_userprofile(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_leads_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_leads_user_id FOREIGN KEY (user_id) REFERENCES public.leads_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leads_agent leads_agent_user_id_6baab848_fk_leads_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_agent
    ADD CONSTRAINT leads_agent_user_id_6baab848_fk_leads_user_id FOREIGN KEY (user_id) REFERENCES public.leads_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leads_lead leads_lead_agent_id_fb1042af_fk_leads_agent_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_lead
    ADD CONSTRAINT leads_lead_agent_id_fb1042af_fk_leads_agent_id FOREIGN KEY (agent_id) REFERENCES public.leads_agent(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leads_lead leads_lead_category_id_eb5283fa_fk_leads_category_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_lead
    ADD CONSTRAINT leads_lead_category_id_eb5283fa_fk_leads_category_id FOREIGN KEY (category_id) REFERENCES public.leads_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leads_user_groups leads_user_groups_group_id_17e877ad_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_user_groups
    ADD CONSTRAINT leads_user_groups_group_id_17e877ad_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leads_user_groups leads_user_groups_user_id_6890bdd8_fk_leads_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_user_groups
    ADD CONSTRAINT leads_user_groups_user_id_6890bdd8_fk_leads_user_id FOREIGN KEY (user_id) REFERENCES public.leads_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leads_user_user_permissions leads_user_user_perm_permission_id_88335dba_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_user_user_permissions
    ADD CONSTRAINT leads_user_user_perm_permission_id_88335dba_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leads_user_user_permissions leads_user_user_permissions_user_id_2a9cf662_fk_leads_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_user_user_permissions
    ADD CONSTRAINT leads_user_user_permissions_user_id_2a9cf662_fk_leads_user_id FOREIGN KEY (user_id) REFERENCES public.leads_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leads_userprofile leads_userprofile_user_id_d30c092b_fk_leads_user_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.leads_userprofile
    ADD CONSTRAINT leads_userprofile_user_id_d30c092b_fk_leads_user_id FOREIGN KEY (user_id) REFERENCES public.leads_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_agent_id_14de1c81_fk_leads_agent_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_agent_id_14de1c81_fk_leads_agent_id FOREIGN KEY (agent_id) REFERENCES public.leads_agent(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_client_id_67117a15_fk_clients_client_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_client_id_67117a15_fk_clients_client_id FOREIGN KEY (client_id) REFERENCES public.clients_client(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderproduct orders_orderproduct_order_id_5022a3e2_fk_orders_order_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.orders_orderproduct
    ADD CONSTRAINT orders_orderproduct_order_id_5022a3e2_fk_orders_order_id FOREIGN KEY (order_id) REFERENCES public.orders_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderproduct orders_orderproduct_product_id_4d6ac024_fk_products_product_id; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.orders_orderproduct
    ADD CONSTRAINT orders_orderproduct_product_id_4d6ac024_fk_products_product_id FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_pricehistory products_pricehistor_product_id_1fc0e3fe_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: crmuser
--

ALTER TABLE ONLY public.products_pricehistory
    ADD CONSTRAINT products_pricehistor_product_id_1fc0e3fe_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

