{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class ="max-w-lg mx-auto">
    <a href="{% url 'leads:lead-upload'%}">Add many leads from Excel file</a>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <div class="py-3 border-t border-gray-300 mt-5"></div>
        <div class="w-full">
            <button type = "submit" class="w-1/2 bg-indigo-500 text-white hover:bg-blue-700 px-3 py-1 rounded-md mx-auto block">
                Create a lead
            </button>
        </div>
    </form>
</div>
{% endblock content %}
