{% extends "base.html" %}
{% block content %}

<section class="text-gray-600 body-font">
    <div class="container mx-auto px-6 py-12">
        <div class="bg-white shadow-lg rounded-lg p-8 lg:w-3/4 mx-auto">
            <!-- Page Header -->
            <div class="mb-6 text-center">
                <h1 class="text-gray-900 text-2xl font-bold">Upload Leads</h1>
                <p class="text-gray-500 mt-2">Use the form below to upload leads in bulk.</p>
            </div>

            <!-- Form -->
            <form method="post" enctype="multipart/form-data" class="space-y-6">
                {% csrf_token %}
                <div>
                    {{ form.as_p }}
                </div>
                <div class="flex justify-center">
                    <button type="submit" class="w-1/2 bg-indigo-500 text-white hover:bg-indigo-600 px-4 py-2 rounded-md">
                        Upload
                    </button>
                </div>
            </form>


            <!-- Back Button -->
            <div class="mt-6 text-center">
                <a href="{% url 'leads:lead-list' %}" class="text-indigo-500 hover:underline">
                    Go back to leads
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
