{% extends "base.html" %}

{% block content %}

  <h2>Leads Associated with {{ client.first_name }} {{ client.last_name }}</h2>

  {% if leads %}
    <ul>
      {% for lead in leads %}
        <li>
          <strong>{{ lead.first_name }} {{ lead.last_name }}</strong><br>
          Age: {{ lead.age }}<br>
          Email: {{ lead.email }}<br>
          Phone: {{ lead.phone_number }}<br>
          Category: {{ lead.category }}<br>
          Created on: {{ lead.date_created }}<br>
          {% if lead.is_converted %}
            <span>Converted</span>
          {% else %}
            <span>Not Converted</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No leads associated with this client.</p>
  {% endif %}
{% endblock %}
