{% extends "base.html" %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-16 mx-auto">
        <div class="w-full mb-8 py-4 flex justify-between items-center border-b border-gray-300">
            <h1 class="text-3xl font-semibold text-gray-900">Agents</h1>
            <div class="flex items-center space-x-4">
                <a class="text-indigo-500 hover:text-indigo-600 font-medium" href="{% url 'agents:agent-create' %}">Create a new agent</a>
                <form method="get" action="" class="flex items-center space-x-4">
                    <input type="text" name="q" placeholder="Search by username" class="border border-gray-300 rounded px-4 py-2" value="{{ request.GET.q }}">
                    <button type="submit" class="px-4 py-2 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600">
                        Search
                    </button>
                </form>
            </div>
        </div>
        <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
          {% for agent in object_list %}
          <div class="p-4 border rounded-lg shadow-md bg-white hover:shadow-lg transition-shadow">
            <div class="flex items-center space-x-6">
              <div class="w-16 h-16 flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-8 h-8" viewBox="0 0 24 24">
                  <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg>
              </div>
              <div>
                <h2 class="text-xl font-medium text-gray-900">{{ agent.user.username }}</h2>
                <p class="text-gray-600 mt-1">Email: {{ agent.user.email }}</p>
                <p class="text-gray-600">Date Joined: {{ agent.user.date_joined|date:"F j, Y" }}</p>
                <a href="{% url 'agents:agent-detail' agent.pk %}" class="mt-4 inline-block text-indigo-500 font-medium hover:underline">
                  View this agent
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1 inline" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}
