{% extends "base.html" %}

{% block content %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-12 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div class="flex flex-col sm:flex-row mt-8">
        <div class="sm:w-1/3 text-center sm:pr-6 sm:py-6">
          <div class="flex flex-col items-center text-center justify-center mt-4">
            <h2 class="font-medium title-font text-gray-900 text-3xl">{{ client.first_name }} {{ client.last_name }}</h2>
            <p class="text-sm text-gray-600 mt-2">Number: {{ client.client_number }}</p>
            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-3"></div>
            <p class="text-base">{{ client.status }}.</p>
            <!-- Create Contact Button -->
            <a href="{% url 'agents:send-email' %}?client_number={{ client.client_number }}" class="flex mx-auto mt-4 text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded text-sm">
              Send Email
            </a>
            <!-- Update Client Button -->
            <a href="{% url 'clients:client-update' client.client_number %}" class="flex mx-auto mt-4 text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-blue-600 rounded text-sm">
              Update Details
            </a>
          </div>
        </div>
        <div class="sm:w-2/3 sm:pl-6 sm:py-6 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <h2 class="text-2xl font-medium text-gray-900 mb-4">Client Overview</h2>
          <ul class="list-disc pl-6 text-gray-700 leading-relaxed">
            <li>Total Revenue: ${{ client.total_revenue }}</li>
            <li>Total Products Sold: {{ client.total_products_sold }}</li>
            <li>Total Orders: {{ client.orders.count }}</li>
          </ul>
          <a href="{% url 'clients:client-statistics' client.client_number %}" class="flex mx-auto mt-8 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-sm">
            View Detailed Statistics
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto">
    <h2 class="text-3xl font-medium text-gray-900 mb-8 text-center">ACTIONS</h2>
    <div class="flex flex-wrap -m-4 justify-between">
      <!-- Contact History -->
      <div class="w-1/3 p-4">
        <div class="border border-gray-200 p-6 rounded-lg hover:shadow-lg transition-shadow duration-300 h-full">
          <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Contact History</h2>
          <p class="leading-relaxed text-base">View all historical interactions with the client.</p>
          <a href="{% url 'clients:contact-list' client.client_number %}" class="flex mx-auto mt-8 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-sm">
            View History
          </a>
        </div>
      </div>
      <!-- Order History -->
      <div class="w-1/3 p-4">
        <div class="border border-gray-200 p-6 rounded-lg hover:shadow-lg transition-shadow duration-300 h-full">
          <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Order History</h2>
          <p class="leading-relaxed text-base">Browse the client's order history and details.</p>
          <a href="{% url 'orders:client-orders' client.client_number %}" class="flex mx-auto mt-8 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-sm">
            View Orders
          </a>
        </div>
      </div>
      <!-- Delete Client -->
      <div class="w-1/3 p-4">
        <div class="border border-gray-200 p-6 rounded-lg hover:shadow-lg transition-shadow duration-300 h-full">
          <h2 class="text-lg text-gray-900 font-medium title-font mb-2">Delete Client</h2>
          <p class="leading-relaxed text-base"> Remove the client and associated data.</p>
          <a href="{% url 'clients:client-delete' client.client_number %}" class="flex mx-auto mt-8 text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded text-sm">
            Delete Client
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
