{% extends "base.html" %}

{% block content %}
<section class="statistics">
<h1>Statistics for {{client.first_name}} {{client.last_name}}</h1>

  <form method="get">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

  <!-- Display statistics -->
  <ul>
    <li><strong>Total Revenue:</strong> ${{ client_statistics.total_revenue }}</li>
    <li><strong>Total Products Sold:</strong><a href="{% url 'products:product-sales-detail' %}"> {{ client_statistics.total_products_sold }}</a></li>
    <li><strong>Total Orders:</strong> {{ client_statistics.total_orders }}</li>
  </ul>
</section>
{% endblock %}
