{% extends "base.html" %}
{% load tailwind_filters %}


{% block content %}
<a href="{% url 'clients:client-detail' client.client_number %}" class="text-indigo-500 inline-flex items-center mb-4">
    Go back to client
</a>
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-3/5 mx-auto">
            <div class="flex justify-between items-center mb-6">
                <h1 class="text-2xl font-medium text-gray-900">
                    Update Client
                </h1>
            </div>
            <form method="post" class="bg-white p-6 rounded-lg shadow-md">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="bg-indigo-500 text-white py-3 px-6 rounded-lg text-lg hover:bg-indigo-600 w-full">
                    Submit
                </button>
            </form>
        </div>
    </div>
</section>

{% endblock %}
