{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<section class="text-gray-600 body-font">
    <div class="container mx-auto px-6 py-12">
        <div class="bg-white shadow-lg rounded-lg p-8 lg:w-3/4 mx-auto">
            <!-- Page Header -->
            <div class="mb-6">
                <h2 class="text-sm font-semibold text-gray-500 uppercase tracking-widest">Client</h2>
                <h1 class="text-gray-900 text-2xl font-bold mt-2">Confirm Deletion</h1>
            </div>

            <!-- Confirmation Message -->
            <div class="mb-6">
                <p class="text-gray-500">Are you sure you want to delete the client "<strong>{{ client.first_name }} {{ client.last_name }}</strong>"?</p>
            </div>

            <!-- Form -->
            <form method="post" class="space-y-6">
                {% csrf_token %}
                {{ form }}
                <div class="flex justify-center space-x-4">
                    <button type="submit" class="w-1/2 bg-red-500 text-white hover:bg-red-600 px-4 py-2 rounded-md">
                        Confirm
                    </button>
                    <a href="{% url 'clients:client-detail' client.client_number %}"class="w-1/2 text-center bg-gray-500 text-white px-4 py-2 rounded-md hover:bg-gray-600">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
