{% extends 'base.html' %}

{% block content %}
<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">System do wsparcia pracy małych przedsiębiorstw</h1>
            <p class="mb-8 leading-relaxed">
                Praca inżynierska prezentująca system informatyczny wspomagający zarządzanie i organizację w małych firmach. Celem systemu jest poprawa efektywności procesów zarządzania i tworzenia relacji z klientem.
            </p>
            <p class="text-gray-500">Autor: Dominik Jaroszuk</p>
        </div>
    </div>
</section>

{% endblock content %}
